Package: e-ag-dbgsym
Source: e-ag
Version: 2.3.5
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Installed-Size: 91
Depends: e-ag (= 2.3.5)
Section: debug
Priority: optional
Description: debug symbols for e-ag
Build-Ids: e84d2a570cec6ae240658fa8837a5b2a4c282f1b
